<nav class="navbar navbar-static-top nav-inverse nav-expanded" style="background-color:#1b4078">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <a href="/"><span class="glyphicon glyphicon-home"></span> almundo.com</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="#"><span class="glyphicon glyphicon-user"></span> Ingresar</a>
      </li>
      <li>
        <a href="#">clubalmundo</a>
      </li>
      <li>
        <a href="#">Sucursales</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Llamanos <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
        </ul>
      </li>
      <li>
        <a href="#">Ayuda</a>
      </li>
    </ul>
  </div>
  <div class="container-fluid" style="background-color:#3b598a; border-top: thin solid white">
    <ul class="nav navbar-nav">
      <li>
        <a href="#">Hoteles</a>
      </li>
      <li>
        <a href="#">Vuelos</a>
      </li>
      <li>
        <a href="#">Vuelo + Hotel</a>
      </li>
      <li>
        <a href="#">Paquetes</a>
      </li>
      <li>
        <a href="#">Disney</a>
      </li>
      <li>
        <a href="#">Escapadas</a>
      </li>
      <li>
        <a href="#">Seguros</a>
      </li>
      <li>
        <a href="#">Autos</a>
      </li>
      <li>
        <a href="#">Cruceros</a>
      </li>
      <li>
        <a href="#">OFERTAS</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Más<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
        </ul>
      </li>
    </ul>
  </div>
</nav>
<nav class="nav-compressed">
    <div class="container">
        <ul class="nav">
            <li style="float: left">
                <a href="/"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
            </li>
            <li style="float: left">
                <a href="/"><span class="glyphicon glyphicon-home"></span> almundo.com</a>
            </li>
            <li style="float: right">
                <a href="#"><span class="glyphicon glyphicon-user"></span></a>
            </li>
        </ul>
    </div>
</nav>