<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>
	<body ng-app="almundoexam">
		<% include ../partials/nav.ejs %>
		<div class="container main-container">
            <ng-view></ng-view>
		</div>
	</body>
</html>
<% include ../partials/scripts.ejs %>
